/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* Color Variables */
:root {
    /* Primary colors */
    --bright-orange: #e38826;
    --dark-cyan: #006970;
    --very-dark-cyan: #004241;
    
    /* Neutral Colors */
    --very-light-gray: #f2f2f2;
    --white: #fff;
}

/* Reset Rules */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

body {
    min-height: 100vh;      
    background-color: var(--very-light-gray);
}

.container {
    margin: 6.25rem;    
    width: 20.625rem;    
}

.sedan-card {   
    border-radius: 0.625rem 0.625rem 0 0;
    padding: 2.5rem;
    background: var(--bright-orange);
}

.suv-card {
    padding: 2.5rem;
    background-color: var(--dark-cyan);
}

.luxury-card {
    border-radius: 0 0 0.625rem 0.625rem;
    padding: 2.5rem;
    background-color: var(--very-dark-cyan);
}

img {
    margin-bottom: 1.875rem;
}

h2 {
    margin-bottom: 1.25rem;
    color: var(--white);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Big Shoulders Display', sans-serif;
}

p {
    color: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.03rem;
    line-height: 1.6rem;
    opacity: 60%;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    color: var(--bright-orange);
    margin-top: 1.875rem;
    padding: 0.938rem 2.188rem;
    border-radius: 31.25rem;
}

.luxury-card button {
    color: var(--very-dark-cyan);
}

.suv-card button {
    color: var(--dark-cyan);
}

.suv-card button:hover{
    color: var(--white);
    background-color: var(--dark-cyan);
    border: 1px solid var(--white);
    padding: 0.875rem 2.125rem;
}

.sedan-card button:hover{
    color: var(--white);
    background-color: var(--bright-orange);
    border: 1px solid var(--white);
    padding: 0.875rem 2.125rem;
}

.luxury-card button:hover{
    color: var(--white);
    background-color: var(--very-dark-cyan);
    border: 1px solid var(--white);
    padding: 0.875rem 2.125rem;
}

/* Desktop View */

@media (min-width: 36rem) {
    .container {
        flex-direction: row;
        width: 57.813rem;
    }
    
    .sedan-card {   
        border-radius: 0.625rem 0px 0px 0.625rem;
    }

    .luxury-card {
        border-radius: 0px 0.625rem 0.625rem 0px;       
    }

    button {
        margin-top: 6.25rem;
    }
}